{% extends "base.html" %}
{% block title %}Kullanım Şartları - ConvertYi{% endblock %}
{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Kullanım Şartları</h2>
    <p>ConvertYi hizmetini kullanarak aşağıdaki şartları kabul etmiş olursunuz:</p>
    <ul>
        <li>Yüklediğiniz dosyaların yasalara uygun olması gerekmektedir.</li>
        <li>Hizmet, "olduğu gibi" sunulmaktadır ve herhangi bir garanti verilmemektedir.</li>
        <li>Hizmetin kötüye kullanılması durumunda erişiminiz engellenebilir.</li>
        <li>ConvertYi, hizmette değişiklik yapma hakkını saklı tutar.</li>
    </ul>
    <p>Şartlar hakkında sorularınız için bizimle iletişime geçebilirsiniz.</p>
</div>
{% endblock %} 